$font-family-sans-serif: 'Montserrat', sans-serif;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;




$base-font-size: 1rem;
$max-width: 1200px;
$main-spacing: 15px;
$primary-color: black;
$border-color: gray;
$tile-text-color: white;
$text-color: black;
