.treatments-list-group-item {
    border: none;
}

.treatmentsImg {
    position: relative;
    height: 350px;
    background-image: url('../images/Zabieg1.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.treatment-1 {
    height: 250px;
    background-image: url('../images/Monitor.jpg');
    background-position: center;
    background-size: cover;
}

.treatment-2 {
    height: 250px;
    background-image: url('../images/Mysz.jpg');
    background-position: center;
    background-size: cover;
}

.treatment-3 {
    height: 250px;
    background-image: url('../images/PłytyCD.jpg');
    background-position: center;
    background-size: cover;
}

.treatment-4 {
    height: 250px;
    background-image: url('../images/USB.jpg');
    background-position: center;
    background-size: cover;
}

.treatment-5 {
    height: 250px;
    background-image: url('../images/Manicure.jpg');
    background-position: center;
    background-size: cover;
}

.treatment-6 {
    height: 250px;
    background-image: url('../images/Kawa.jpg');
    background-position: center;
    background-size: cover;
}

.treatment-7 {
    height: 250px;
    background-image: url('../images/Depilacja.jpg');
    background-position: center;
    background-size: cover;
}